@font-face {
  font-family: 'Monstserrat-SemiBold';
  src: local('Monstserrat-SemiBold'), url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face{
  font-family: 'Monstserrat-Medium';
  src : local('Monstserrat-Medium'), url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Monstserrat-Regular';
  src : local('Monstserrat-Regular'), url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}