.landing-sidebar-container {
     /* border: 1px solid #000; */
     /* position: fixed; */
     height: 100vh;
     background-color: #eeeeee;
     /* background-color: #191921; */
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.landing-main-container {
     /* background-color: #15141a; */
     /* height: 100vh; */
     /* border: 1px solid #000; */
}
.landing-layout-tiles-container {
     height: 50px;
     width: 100%;
     /* border: 1px solid #fff; */
     /* margin-bottom: 20px; */
}

.auth-layout-row-container {
     display: flex;
     justify-content: center;
     align-items: center;
     /* border: 1px solid #000; */
     min-height: 90vh;
}
.auth-layout-colum-container {
     /* border: 1px solid #000; */
     height: 600px;
}
.header-row-container {
     /* border: 1px solid #000; */
}
.header-colum-container {
     padding: 0px !important;
}
.header-container {
     height: 80px;
     display: flex;
     align-items: center;
     /* background-color: #eaa48b; */
     background-color: #207fdb;
     padding: 0px 20px;
     font-size: 25px;
     font-weight: bold;
     color: #fff;
     text-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #fff;
     letter-spacing: 2px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     position: sticky;
}

@media (min-width: 481px) and (max-width: 780px) {
     .landing-sidebar-container {
          display: none;
     }
}
@media (min-width: 320px) and (max-width: 480px) {
     .landing-sidebar-container {
          display: none;
     }
}
